<p id="notice"><%= notice %></p>

<h3>Me Markit</h3>

<%= link_to 'Back', categories_path %>
<%= link_to 'Add item for sale', new_product_path, class: 'btn btn-primary' %>

<%= render 'shared/prod_display' %>