/* delete image */
//.image-edit-thumb {
//  height: 205px;
//  width: 205px;
//  padding-top: 5px;
//}

.image-container-edit {
  position: relative;
  display: inline-block;
}
.image-container-edit .after {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  color: #FFF;
}
.image-container-edit:hover .after {
  display: block;
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}