/* delete image */
//.image-edit-thumb {
//  height: 205px;
//  width: 205px;
//  padding-top: 5px;
//}

.image-container-edit {
  position: relative;
  display: inline-block;
}
.image-container-edit .after {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  color: #FFF;
}
.image-container-edit:hover .after {
  display: block;
}

/* entry display */
div.entry {
  height: 280px;
  width: 280px;
  border-radius: 5px;
  padding: 20px;
  margin: 4px 0 12px 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  text-overflow-multiline: ellipsis;
}

div.entry-main {
  border-radius: 5px;
  padding: 20px;
  margin: 4px 0 12px 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* seller edit and delete button */
div.seller-options {
  width: 50%;
  margin: 0 auto;
}