<% provide(:title, 'Categories') %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Beljom</h1>
    <p class="lead text-muted">Mission Statement.</p>
  </div>
</section>

<div class="row">
  <% @categories.each do |category| %>
  <div class="col-sm-4">
    <div class="entry-main card text-center"  onclick='location.href="<%= category_path(category) %>"'>
      <%= image_tag "#{category.name.downcase}", class: 'main-image card-img-top d-img' %>
      <div class="content card-block">
        <h3 class="card-title"><%= category.name %></h3>
      </div>
    </div>
  </div>
  <% end %>
</div>