<p id="notice"><%= notice %></p>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Beljom</h1>
    <p class="lead text-muted">Mission Statement.</p>
  </div>
</section>

<div class="row">
  <% @categories.each do |category| %>
  <div class="col-sm-4">
    <div class="entry-main card text-center">
      <%= image_tag category.name.downcase, class: 'card-img-top' %>
      <div class="card-block">
        <h3 class="card-title"><%= link_to category.name, category, class: 'card-title' %></h3>
      </div>
    </div>
  </div>
  <% end %>
</div>
